<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ one_house.name }}</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/style.css'  %}">
	</head>
	<body>

		<form class="edit_form" action="/update/{{ one_house.id }}" method="post">
			{% csrf_token %}
			<label for="name">Name:</label>
			<input type="text" name="name" value="{{ one_house.name }}">
			<input type="hidden" name="id" value="{{ one_house.id }}">
			<label for="sigil">Sigil:</label>
			<input type="text" name="sigil" value="{{ one_house.sigil }}">
			<label for="color1">Primary Color:</label>
			<input type="text" name="color1" value="{{ one_house.color1 }}">
			<label for="color2">Secondary Color:</label>
			<input type="text" name="color2" value="{{ one_house.color2 }}">
			<label for="motto">Motto:</label>
			<input class="u-full-width" type="text" name="motto" value="{{ one_house.motto }}">
			<label for=""></label>
			<input class="button button-primary" type="submit" name="" value="Edit House">
		</form>
	</body>
</html>
